html {
    font-family: 'Arial', san-serif;
}

.capital {
    background-color: #98B6B1;
}

.capital,
.currency,
.language,
.tips {
    color: white;
    border-radius: 10px;
    text-align: left;
    padding: 1vw 2vw;
    border: 2px solid #444444;
    margin: 0.5em;
}

.clearfix {
    margin: 0 20%;
}

.currency {
    background-color: #CEA450;
}

.info-container {
    display: flex;
    flex-direction: row;
}

.language {
    background-color: #002835;
}

.tips {
    background-color: #A3520B;
    width: 50%;
}

img {
    display: block;
    margin: auto;
    border: 2px solid #444444;
    border-radius: 20px;
    width: 650px;
    height: 500px;
}

figcaption {
    padding: 0px 50px 50px 50px;
    text-align: center;
}

p {
    width: 1000px;
    width: 100%;
    text-align: left;
    margin: auto;
    margin-bottom: 25px;
}

.place-info {
    width: 50%;
    margin-right: 1em;
}

ul {
    margin-bottom: 25px;
}

h2 {
    text-align: center;
    font-size: 48px;
    color: #002835;
    padding-top: 120px;
    border-top: 3px solid #827D80;
}

footer {
    text-align: center;
}

.navbar {
    background-color: #98B6B1;
    border-bottom: 2px solid #444444;
    color: white;
}

:target:before {
    content:"";
    display:block;
    height: 50px;
    margin:-50px 0 0;
}

#title1 {
    color: #444444;
    font-family: 'Pinyon Script', cursive;
    text-align: center;
    font-size: 4em;
    margin-top: 2em;
}

#byline {
    color: #444444;
    font-family: Verdana;
    text-align: center;
}

@media screen and (max-width: 1024px) {
  img {
    width: 425px;
    height: 325px;
  }
  .container-fluid {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  img {
    width: 350px;
    height: 300px;
  }
  .info-container {
      display: flex;
      flex-wrap: wrap;
  }
  div.place-info {
    width: 100%;
    margin-right: 0;
  }
  .tips {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  img {
    width: 200px;
    height: 175px;
  }
}
